@charset "utf-8";
/* CSS Document */

.cartHeaders,.totalRow{display:none;}
.simpleCart_items{
	overflow-y:auto;
	overflow-x:hidden;
	height:324px;
	width:250px;
	margin-bottom:10px;
	margin-top: -20px;
	background-color: white;
	padding: 0 10px;
	border-left: #3E89DD 1px solid;
	border-right: #3E89DD 1px solid;
	margin-left: -1px;
}
.itemContainer{
	clear:both;
	width:229px;
	padding:11px 0;
	font-size:11px;
}
.itemImage{
	float:left;
	width:60px;
}
.itemName{
	float:left;
	width:85px;
}
.itemPrice{
	float:left;
	width:85px;
	color:#418932;
}
.itemQuantity{
	float:left;
	width:33px;
	margin-top:-12px;
	vertical-align:middle;
}
.itemQuantity input{
	width:20px;
	border:1px solid #ccc;
	padding:3px 2px;
}

.itemTotal{
	float:left;
	color:#c23f26;
	margin-top:-6px
}

