
/*******************************/
/* Navigation Responsive desgin*/
/*******************************/
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}

@media (max-width: 421px) {
  #sns_logos{
    display: none;    
  }

}

@media (max-width: 646px) {

  .search{
    display: none;    
  }  

}

@media (max-width: 767px){

  #content {
    margin-top: -20px;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
  }
  .fixed {
    position:fixed;
    width: 295px;
    
  }
  .sign{
    display: none;
  }

}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
  .navbar-header {
    float: left;
  }

}


@media (min-width: 768px) {
  section{
    width: 23%;
  }
  .navbar-collapse {
    width: 718px;    
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  #wrapper {
    width:100%;
    margin: 0 auto;
  }

  #content {
    margin-top: -20px;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
  }

  .fixed {
    position:fixed;
  }

}
@media(max-width: 991px){
    section{    
    text-align: left;
    width: 100%;
    margin: 0;
  }
  section h3{
    padding: 0 20px;
  }
  section ul{
    padding: 0 5px;
  }
}
@media (min-width: 992px) {
  .navbar-collapse {
    width: 938px;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  #wrapper {
    width:100%;
    margin: 0 auto;
  }

  #content {
    margin-top: -20px;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
  }

  .fixed {
    position:fixed;
  }

}
@media (min-width: 1200px) {
  .navbar-collapse {
    width: 1138px;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  #wrapper {
    width:100%;
    margin: 0 auto;
  }


  #content {
    margin-top: -20px;
    background: #fff;
    height: 100%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
  }

  .fixed {
    position:fixed;
  }
}

